/* Сбрасываем стандартные отступы браузера */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Чтобы отступы и границы учитывались в размерах элементов */
*,
*::before,
*::after {
  box-sizing: border-box;
}
